/* exercise 1 */
/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
} */

/* exercise 2 */
/* .container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 20-px;
} */

/* exercise 3 */
/* .item-1 {
    grid-column: span 2;
} */

/* exercise 4 */
/* .item-4 {
    grid-column-start: 2;
    grid-row-start: 3;
} */

/* exercise 5 */
/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 20px;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
}

.item-1 {
    grid-area: header;
}

.item-2 {
    grid-area: main;
}

.item-3 {
    grid-area: sidebar;
}

.item-4 {
    grid-area: footer;
} */

/* exercise 6 (optional) - follow the assigned YT video */

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 300px 100px;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

.item-1 {
    grid-area: header;
}

.item-2 {
    grid-area: main;
}

.item-3 {
    grid-area: aside;
}

.item-4 {
    grid-area: footer;
}